.hero::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: url("../Images/wave-large.png") center no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    height: 20vh;
    width: 100%;
}

.slide {
    display: none;
}

.a {
    background: linear-gradient(135deg, rgba(227, 112, 83,0.2) 0%, rgba(102, 43, 65, 0.7) 100%),
            url("../Images/HomePage/5.png") center no-repeat;
    background-size: cover;
}

.b {
    background: linear-gradient(135deg, rgba(227, 112, 83,0.2) 0%, rgba(102, 43, 65, 0.7) 100%),
            url("../Images/HomePage/7.jpeg") center no-repeat;
    background-size: cover;
}

.c {
    background: linear-gradient(135deg, rgba(227, 112, 83,0.2) 0%, rgba(102, 43, 65, 0.7) 100%),
            url("../Images/HomePage/5.jpg") center no-repeat;
    background-size: cover;
}

.d {
    background: linear-gradient(135deg, rgba(227, 112, 83,0.2) 0%, rgba(102, 43, 65, 0.7) 100%),
            url("../Images/HomePage/p.jpg") center no-repeat;
    background-size: cover;
}

.e {
    background: linear-gradient(135deg, rgba(227, 112, 83,0.2) 0%, rgba(102, 43, 65, 0.7) 100%),
            url("../Images/HomePage/i.png") center no-repeat;
    background-size: cover;
}

.fade {
    -webkit-animation-name: fade;
    -moz-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
    transition: opacity 2s;
}

@-webkit-keyframes fade {
    from {opacity: .9
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {opacity: .9
    }
    to {
        opacity: 1;
    }
}

.three {
    background: url("../Images/HomePage/5.jpg") center no-repeat;
    background-size: cover;
}

.Vegetarian {
    background: url("../Images/HomePage/h.png") center no-repeat;
    background-size: cover;
}

.fire {
    background: url("../Images/HomePage/f.png") center no-repeat;
    background-size: cover;
}

.dessert {
    background: url("../Images/HomePage/b.png") center no-repeat;
    background-size: cover;
}

.testimonials {
    width: 100%;
    height: 80vh;
    position: relative;
    background: linear-gradient(135deg, rgba(227, 112, 83,0.2) 0%, rgba(102, 43, 65, 0.7) 100%),
    url("../Images/HomePage/h.png") center no-repeat fixed;
    background-size: cover;
}

.testimonials::before {
    position: absolute;
    top: -1px;
    content: "";
    left: 0;
    height: 20vh;
    width: 100%;
    background: url("../Images/wave-large-reversed.png") center no-repeat;
    background-size: cover;

}

.testimonial {
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-text-box {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}

.adventure-grid-item p {
    color: rgba(0,0,0,.7);
}

footer {
    text-align: center;
    color: rgba(0,0,0,.7);
}


